# JS
client/public/static/build/*
node_modules
npm-debug.log

# Python
local

# PHP
vendor
composer.lock

# Erlang
deps/

# Perl
cpanfile.snapshot

# Common
server/logs/*
server/etc/config.json
config.js
.DS_Store
